{% assign STOREFRONT = shop.metaobjects['storefront']['617926776-e-39716-b-2330322-fd-150541-d'] %}

{{ 'index-B-mLdKKm.css' | asset_url | stylesheet_tag: preload: true }}
<noscript>{{ 'index-B-mLdKKm.css' | asset_url | stylesheet_tag }}</noscript>

<div id="extendGalleryAppRoot" data-mode={{ section.settings.gallery_mode }} data-handle={{ section.settings.gallery_handle }}></div>

<script>
  const APP_EX_STOREFRONT_API_KEY = '{{ STOREFRONT.api_key }}';
  const APP_EX_STOREFRONT_API_URL = '{{ STOREFRONT.url }}';
</script>
<script src="{{ 'index-BK3VH7BF.js' | asset_url }}" async></script>

{% schema %}
{
  "name": "Extend Gallery",
  "target": "section",
  "settings": [
    {
      "type": "select",
      "id": "gallery_handle",
      "label": "ギャラリー",
      "default": "top",
      "options": [
        {
          "value": "top",
          "label": "くつろぎのカタチ（すべて）"
        },
        {
          "value": "ojyami",
          "label": "くつろぎのカタチ おじゃみ"
        },
      ]
    },
    {
      "type": "select",
      "id": "gallery_mode",
      "label": "表示形式",
      "default": "gallery",
      "options": [
        {
          "value": "gallery",
          "label": "レンガ積み形式"
        },
        {
          "value": "plain",
          "label": "ギャラリー形式"
        },
      ]
    }
  ]
}
{% endschema %}